@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.primary-button {
  background-image: linear-gradient(to right, #cc295f, #7130ff);
  border-radius: 30px;
  padding: 8px 24px;
  color: white;
  transition: all .7s;
  font-family: 'poppins';
  font-weight: 500;
  font-size: 16px;
}

.primary-button:hover {
  background-image: linear-gradient(to bottom right, #7130ff, #cc295f);
  scale: 1.1;
  box-shadow: 0 0 70px #bdbdbd;
}


.link-style {
  color: #7130ff;
  padding: 4px 16px;
  transition: all 0.5s;
  font-weight: 500;
  width: 100%;
  font-size: 14px;
}

.link-style:hover {
  background-color: #7130ff;
  color: white;
  border-radius: 3px;
}

.active-link-style {
  font-weight: 400;
  width: 100%;
  font-size: 14px;
  padding: 4px 16px;
  background-color: #7130ff;
  color: white;
  border-radius: 3px;
}

.urgent-priority {
  background-color: #cc295f;
  color: white;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 10px;
}

.important-priority {
  background-color: #502f97;
  color: white;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 10px;
}

.normal-priority {
  background-color: #797979;
  color: white;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 10px;
}